@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
/*{outline: red solid 1px;} */

body {
    margin: 0px;
}

h2 {
    color: white;
    margin-left: 20px;
}

div,
header,
nav,
main,
aside,
footer,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containe {

    min-width: 900px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#9C33FF, black 70%);
}

header {
    min-width: 900px;
    background-color: black;
    height: 60px;
    border-bottom: white 2px solid;


}


.logo > a > img {
    height: 50px;
    width: 100px;
    float: left;
    margin-top: 3px;
}

nav {
    float: left;
    margin-top: 20px;
    

}

nav ul {

    list-style: none;


}

nav ul li {
    float: left;
    margin-right: 5px;

}

nav ul li a {
  text-decoration: none;
  width: 100%;
  background: none;
  border: 2px solid  #6c3483 ;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 15px;
  font-family: arial;
  background-color: rgba(155,0,255,0.2);
}

#search {
    /*background-color: gray;*/
    width: 400px;
    text-align: center;
    float: right;
    margin-top: 10 auto;
    height: 100%;

}
#search input{
    width: 300px;
    border: 2px solid  #6c3483 ;
    background-color: rgba(155,0,255,0.2);
    color: white;
    padding: 6px;
    border-radius: 15px;
    text-align: center;
    margin-top: 12px;
}

#search button{
    padding: 10px;
    border: black ;
    background-color: black;
    text-align: center;
    background-image: url("../../resources/imagenes/search.png");
}
#search button>img{
    width: 25px;
    height: 25px; 


}

/*ESTO DAS REGLAS SE ESTA PISANDO*/
/*HE RESULTO LA COLACION CON UN PARCHE ; HAY QUE CAMBIARLO Y DEJAR DE TOCAR*/
/*CADA UNO EL CODIGO QUE LE DA LA GANA*/
#usuario {
    float: right;
    width: 90px;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
    display: block;
    float: right;
}
div#usuario  {
    width: 40px;
    margin-right: 25px;
}
#usuario a img{
    text-decoration: none;
    color: white;
    margin-top:  -13px;
    margin-right:  0px;
    padding: 1px;
    width: 40px;
    height: 40px; 
}


.row img {

    width: 100%;

}


/* #div-1:hover, #div-2:hover,  #div-4:hover, #div-5:hover, #div-6:hover, #div-7:hover{
            
           transition-duration: 0.3s; 
           transform: scale(1.3);
        }

main {
    clear: both;
}

[id^="div-"]:hover {
    /* Lo mismo que poner [id|="div"]:hover */

    transition-duration: 0.4s;
    transform: scale(1);
    background-image: url(https://media0.giphy.com/media/26tPrcX6EfSj5N0HK/giphy.gif?cid=3640f6095c3ba5e34e66696849446028);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


[id^="div-"] {
    transition-duration: 0.3s;
    height: 100%;
    background-position: center;

}

[id|="div"]:hover > img {
    visibility: hidden;
}


[id^="contentPreview"] {
    height: 350px;
    width: 100%;
    border: 5px solid red;
    display: none;
}

#div-1:hover ~ #contentPreview1 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-2:hover ~ #contentPreview2 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-3:hover ~ #contentPreview3 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-4:hover ~ #contentPreview4 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-5:hover ~ #contentPreview5 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-6:hover ~ #contentPreview6 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

[id^="preview"] {
    height: 380px;
    font-family: 'Rouge Script', cursive;
    font-size: 14px;
    border: 3px solid blue;
    color: white;
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #9C33FF -125px, #24243e, #0f0c29, #230B39);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #9C33FF -125px, #24243e, #0f0c29, #230B39); /* background: linear-gradient(to bottom, #9C33FF, #24243e, #302b63, #0f0c29, #230B39); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contentPreview1 {
    display: block;
}


[id^="preview"] > h2:hover {}


[id^="campo"] > h2 {
    color: #CEF0D4;
    font-family: 'Rouge Script', cursive;
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}


