@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
/*{outline: red solid 1px;} */

body {
    margin: 0px;
}

h2 {
    color: white;
    margin-left: 20px;
}

div,
header,
nav,
main,
aside,
footer,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containe {

    min-width: 900px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#9C33FF, black 70%);
}

header {
    min-width: 900px;
    background-color: black;
    height: 60px;


}


.logo > a > img {
    height: 50px;
    width: 100px;
    float: left;
}

nav {
    float: left;
    margin-top: 20px;

}

nav ul {

    list-style: none;


}

nav ul li {
    float: left;
    margin-right: 5px;

}

nav ul li a {
    text-decoration: none;

    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
}

#search {
    float: right;
    width: 200px;
    margin-left: 3%;
    margin-top: 20px;

}


#usuario {
    float: right;
    width: 90px;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
    display: block;
}

#usuario a {

    text-decoration: none;
    color: white;
    margin: 5px 1px;
    padding: 1px;

}

#usuario a img {

    width: 25px;
    height: 20px;
    margin-right: 3%;
    float: left;

}

.row img {

    width: 100%;

}


/* #div-1:hover, #div-2:hover,  #div-4:hover, #div-5:hover, #div-6:hover, #div-7:hover{
            
           transition-duration: 0.3s; 
           transform: scale(1.3);
        }
*/
main {
    clear: both;
}

[id^="div-"]:hover {
    /* Lo mismo que poner [id|="div"]:hover */

    transition-duration: 0.4s;
    transform: scale(1);
    background-image: url(https://media0.giphy.com/media/26tPrcX6EfSj5N0HK/giphy.gif?cid=3640f6095c3ba5e34e66696849446028);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


[id^="div-"] {
    transition-duration: 0.3s;
    height: 100%;
    background-position: center;

}

[id|="div"]:hover > img {
    visibility: hidden;
}


[id^="contentPreview"] {
    height: 350px;
    width: 100%;
    border: 5px solid red;
    display: none;
}

#div-1:hover ~ #contentPreview1 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-2:hover ~ #contentPreview2 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-3:hover ~ #contentPreview3 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-4:hover ~ #contentPreview4 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-5:hover ~ #contentPreview5 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

#div-6:hover ~ #contentPreview6 {
    clear: both;
    display: block;
    border: 2px solid orange;
}

[id^="preview"] {
    height: 380px;
    font-family: 'Rouge Script', cursive;
    font-size: 14px;
    border: 3px solid blue;
    color: white;
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #9C33FF -125px, #24243e, #0f0c29, #230B39);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #9C33FF -125px, #24243e, #0f0c29, #230B39); /* background: linear-gradient(to bottom, #9C33FF, #24243e, #302b63, #0f0c29, #230B39); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contentPreview1 {
    display: block;
}


[id^="preview"] > h2:hover {}


[id^="campo"] > h2 {
    color: #CEF0D4;
    font-family: 'Rouge Script', cursive;
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}


main{
  background-image: url(../../resources/imagenes/bgC.jpg);
  /*background: url(../../resources/imagenes/bgB.jpg); Esta esta DPM*/
  background-size: cover;
  padding: 5% 0 5% 20%;
}
.login-box{
  width: 80%;
  color: white;
  background-color: rgba(44, 44, 44, 0.5);
  border-radius: 20px;
  border: 2px solid #6c3483;
}

.login-box > h2{
  float: left;
  margin: 2% 15% 1% 5%;
  border-bottom: 4px solid  #6c3483 ;
  padding: 10px 0 0 0;
}
.login-box img{
  width: 135px;
  height: 60px;
  margin-top: 30px;
  float: right;
}
.campos{
  width: 50%;
  margin-left: 5%;
}
.campos > form:nth-of-type(1) > h2{
  width: 39%;
  border-bottom: 2px solid  #6c3483 ;
}
.campos > form:nth-of-type(2) > h2{
  width: 50%;
  border-bottom: 2px solid  #6c3483 ;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin-left: 33%;
  background-color: rgba(44, 44, 44, 0.2);
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input:nth-of-type(1){
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  border-bottom: 1px solid  #6c3483 ;
}
.textbox input:nth-of-type(2){
  width: 22%;
  background: none;
  border: 2px solid #6c3483;
  color: white;
  padding: 5px;
  font-size: 0.9em;
  margin: 2% 0 3% 77%;
  border-radius: 11px;
}

